* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #000;
    color: #fff;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
        url('bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 0px solid #222;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.Name{
    color: red;
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.signin-btn {
    border: 0;
    outline: 0;
    background: #db0001; 
    color: #fff;
    padding: 7px 17px;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

.lang-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 950px;
    padding-top: 50px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content h3 {
    font-weight: 400;
    font-size: 1.6rem; 
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.email-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.email-signup input {
    flex: 1;
    min-width: 350px;
    border: 1px solid #888;
    outline: none;
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 2px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0 30px;
    height: 60px;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 8px;
}

div.nav-bottom{
    bottom: 30px;
    width: 100%;
    text-align: center;
}

div.image-container {
    background-color: #000;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img{
    padding: 10px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}