* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 0px solid #222;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.Name {
    color: red;
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.signin-btn {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 17px;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

.lang-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 950px;
    padding-top: 50px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.email-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.email-signup input {
    flex: 1;
    min-width: 350px;
    border: 1px solid #888;
    outline: none;
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 2px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0 30px;
    height: 60px;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 8px;
}

div.nav-bottom {
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.scroll-images{
    display: flex;
    gap: 10px;
    align-items: center;
}


div.image-container {
    background-color: #000000;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    gap: 20px;
    max-height: 250px;
}

.image-container{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.image-container img{
    width: 200px;
    height: auto;
    margin-right: 10px;
    display: inline-block;

}

.left-btn,
.right-btn{
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: #333;
    color: rgb(172, 172, 172);
    border-radius: 8px;
}

div.scroll-container {
    padding: 10px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

.x {
    max-height: 80px;
    width: 100%;
}



.image-container::-webkit-scrollbar {
    display: none;
}

.image-container::-webkit-scrollbar-track{
    background: #222;
    border-radius: 4px;
}

.image-container::-webkit-scrollbar-thumb{
    background: #555;
    border-radius: 4px;
}

.image-container::-webkit-scrollbar-thumb :hover{
    background: #777;
}


.menu {
    height: 200px;
    width: 300px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}